﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h2 {
    text-align: center;
}

h4 {
    text-align: center;
    margin: 30px;
}
h4 img {
    height: 25px;
}

#boardcontainer {
    width: 350px;
    margin: 0 auto 0 auto;
}

.cell {
    width: 115px;
    height: 115px;
    border: none;
    display: inline-block;
    margin: -4px -2px -3px -3px;
    border-radius: 0;
}

.neutral {
    background-color: white;
}
form {
    display: inline-block;
}

.playerone {
    background-image: url(img/x.jpg);
    background-size: 75%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.playertwo {
    background-image: url(img/o.jpg);
    background-size: 75%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.leftborder {
    border-left: 2px solid black;
}

.topborder {
    border-top: 2px solid black;
}

.btn-default {
    width: 250px;
    height: 35px;
    margin: 20px auto 20px auto;
    text-align: center;
    font-size: 20px;
    background-color: Highlight;
    border-radius: 5px;
    vertical-align: middle;
}
