﻿
@{
    ViewBag.Title = "Draw";
    string borderClass = "";
}

<h2>IT'S A DRAW!</h2>
<h4>Click below to play again</h4>

<div id="boardcontainer">
    @{ int rowCounter = 1;}
    @foreach (List<int> row in Model.Board)
    {
        int columnCounter = 1;
        foreach (int cell in row)
        {

            if (cell == 0)
            {
                if (columnCounter == 2 || columnCounter == 3)
                {
                    borderClass += "leftborder";
                }
                if (rowCounter == 2 || rowCounter == 3)
                {
                    borderClass += " topborder";
                }
                <input type="submit" value="" class="cell neutral @borderClass" />
                borderClass = "";
            }
            else if (cell == 1)
            {
                if (columnCounter == 2 || columnCounter == 3)
                {
                    borderClass += "leftborder";
                }
                if (rowCounter == 2 || rowCounter == 3)
                {
                    borderClass += " topborder";
                }
                <input type="submit" value="" class="cell playerone @borderClass" />
                borderClass = "";
            }
            else
            {
                if (columnCounter == 2 || columnCounter == 3)
                {
                    borderClass += "leftborder";
                }
                if (rowCounter == 2 || rowCounter == 3)
                {
                    borderClass += " topborder";
                }
                <input type="submit" value="" class="cell playertwo @borderClass" />
                borderClass = "";
            }
            columnCounter++;
        }
        rowCounter++;
    }
</div>

<a href="/Home/Index/">
    <div class="btn-default">
        Play Again
    </div>
</a>