﻿
@{
    ViewBag.Title = "Game Over";
    string borderClass = "";
}

@using TicTacToe.Models
@model GameboardModel

<h2>GAME OVER!</h2>
@if (Model.Winner == 1)
{
    <h4>Player <img src="~/Content/img/x.jpg" /> Wins!</h4>
}
else
{
    <h4>Player <img src="~/Content/img/o.jpg" /> Wins!</h4>
}

<div id="boardcontainer">
    @{ int rowCounter = 1;}
    @foreach (List<int> row in Model.Board)
    {
        int columnCounter = 1;
        foreach (int cell in row)
        {

            if (cell == 0)
            {
                    if (columnCounter == 2 || columnCounter == 3)
                    {
                        borderClass += "leftborder";
                    }
                    if (rowCounter == 2 || rowCounter == 3)
                    {
                        borderClass += " topborder";
                    }
                    <input type="submit" value="" class="cell neutral @borderClass" />
                    borderClass = "";
            }
            else if (cell == 1)
            {
                    if (columnCounter == 2 || columnCounter == 3)
                    {
                        borderClass += "leftborder";
                    }
                    if (rowCounter == 2 || rowCounter == 3)
                    {
                        borderClass += " topborder";
                    }
                    <input type="submit" value="" class="cell playerone @borderClass" />
                    borderClass = "";
            }
            else
            {
                    if (columnCounter == 2 || columnCounter == 3)
                    {
                        borderClass += "leftborder";
                    }
                    if (rowCounter == 2 || rowCounter == 3)
                    {
                        borderClass += " topborder";
                    }
                    <input type="submit" value="" class="cell playertwo @borderClass" />
                    borderClass = "";
            }
            columnCounter++;
        }
        rowCounter++;
    }
</div>
<a href="/Home/Index/">
    <div class="btn-default">
        Play Again
    </div>
</a>
