﻿@{
    ViewBag.Title = "Game";
    string borderClass = "";

}
@using TicTacToe.Models
@model GameboardModel

<h2>Tic Tac Toe (By Joe O)</h2>
@if (Model.PlayerMove == 1)
{
    <h4><img src="~/Content/img/x.jpg" />'s Move:</h4>
}
else
{
    <h4><img src="~/Content/img/o.jpg" />'s Move:</h4>
}


<div id="boardcontainer">
    @{ int rowCounter = 1;}
    @foreach (List<int> row in Model.Board)
    {
        int columnCounter = 1;
        foreach (int cell in row)
        {

            if (cell == 0)
            {
                using (Html.BeginForm("PlayerMove", "Home", FormMethod.Get))
                {
                    @Html.Hidden("Row", rowCounter)
                    @Html.Hidden("Column", columnCounter)
                    @Html.Hidden("PlayerMove", Model.PlayerMove)
                    if(columnCounter == 2 || columnCounter == 3)
                    {
                        borderClass += "leftborder";
                    }
                    if(rowCounter == 2 || rowCounter == 3)
                    {
                        borderClass += " topborder";
                    }
                    <input type="submit" value="" class="cell neutral @borderClass" />
                    borderClass = "";
                }
            }
            else if (cell == 1)
            {
                using (Html.BeginForm("PlayerMove", "Home", FormMethod.Get))
                {
                    @Html.Hidden("Row", rowCounter)
                    @Html.Hidden("Column", columnCounter)
                    @Html.Hidden("PlayerMove", Model.PlayerMove)
                    if (columnCounter == 2 || columnCounter == 3)
                    {
                        borderClass += "leftborder";
                    }
                    if (rowCounter == 2 || rowCounter == 3)
                    {
                        borderClass += " topborder";
                    }
                    <input type="submit" value="" class="cell playerone @borderClass" />
                    borderClass = "";
                }
            }
            else
            {
                using (Html.BeginForm("PlayerMove", "Home", FormMethod.Get))
                {
                    @Html.Hidden("Row", rowCounter)
                    @Html.Hidden("Column", columnCounter)
                    @Html.Hidden("PlayerMove", Model.PlayerMove)
                    if (columnCounter == 2 || columnCounter == 3)
                    {
                        borderClass += "leftborder";
                    }
                    if (rowCounter == 2 || rowCounter == 3)
                    {
                        borderClass += " topborder";
                    }
                    <input type="submit" value="" class="cell playertwo @borderClass" />
                    borderClass = "";
                }
            }
            columnCounter++;
        }
        rowCounter++;
    }
</div>
<a href="/Home/Index/">
    <div class="btn-default">
     Restart
    </div>
</a>